body {
    background-color: #202225;
    color: white;
    font-family: "Open Sans", sans-serif;
}

#landing-header {
    text-align: center;
    padding-top: 1%;
    position: sticky;
    top: 0;
    background: #202225;
}

#landing-body {
    text-align: center;
    font-size: xx-large;
}